*{
    margin: 0;
}

.contaner{
    background-color: rgba(100,133,200,0.8); 
    height: 40px; 

}
h2{
    text-align: center;
    margin-top: -13px;
}

ul li{
    display: inline-block;
}

img{
    height: 150px;
    width: 214px;
    /* min-width: 214px;
    min-height: 150px; */
}

.gallary{
    display: flex;
    flex-wrap: wrap;
     justify-content: space-between;
     row-gap: 10px;
}