*{
    margin:0;
    padding:0;
}
 body{
    /* background-color: #00a5b8; */
}
  
h2{
    margin-top: 10px;
    font-weight: 700;
}

img{
    display:inline-block;
    height: 15vh;
    align-self: center;
    padding: 0 45px;
    vertical-align: middle;
    
}
h2{
    text-align: center;
}
h4{
    position: fixed;
    right: 10px;
    left: 209px;
    top: 84px;
} 
.contaner > div > div {
    float: right;
    margin: 0 130px 0 0;
}

/* .contaner > div > h4{
    text-align: center;
} */
.contaner{
    margin:92px 51px;
    
}

p{
    position: fixed;
    top:84px;
    right: 209px;
}
